
html, body {
  margin: 0;
  background-color: #18181b;
}

html:not(.app-dark), html:not(.app-dark) body {
  background-color: #ffffff;
}

#loading-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #18181b;
  color: rgba(255, 255, 255, 0.87);
}

html:not(.app-dark) #loading-mask {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

html:not(.app-dark) #loading .loading-indicator {
  color: rgba(0, 0, 0, 0.87);
}

html:not(.app-dark) #loading-text a {
  color: rgba(0, 0, 0, 0.87);
}

#loading {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#loading .loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #d0cec5;
  font: bold 42px helvetica, sans-serif;
  text-align: center;
}

#loading-text {
  font: bold 12px helvetica, sans-serif;
  padding-top: 8px;
}

#loading-text a {
  color: #d0cec5;
  background: url("../img/external-link.svg") no-repeat 100% 0;
  background-size: 12px 12px;
  padding-right: 16px;
}
